footer
	.footer-content
		img(src='static/img/footer-logo.png')
		ul
			li
				a Главная
				br
				a O Компании
			li
				a Главная
				br
				a O Компании
			li
				a Гарантия
				br
				a Вакансии
			li
				a Обьекты
				br
				a Информация
			li
				a Сертификаты
				br
				a Контакты
			li
				a Киев: 095 686 89 67
				br
				a Харьков: 095 686 89 67
			li
				img(src='static/img/footer-logo-intelecrus.png')
