extends ../layout/main

block title
	| Главная страница

block content
	//canvas#myCanvas3(width='1920', height='850')

	header.main-header
		.container
			.top-line
				.row
					.col-4
						.top-line__logo
							a(href="#")
								img(src='static/img/logo.png')
								span.top-line__logo__text Эксперт в сжигании биомассы

					.col-5
						.top-line__center
							.top-line__center__contacts
								.top-line__center__filter.filter
									label Киев:
									select.filter-news-select(name='region')
										option(value='hide') 095 686 89 67
										option(value='number-1') 095 686 89 68
										option(value='number-2') 095 686 89 69
										option(value='number-3') 095 686 89 70
								.top-line__center__search
									form(action="#" method="post")
										input(type="text" placeholder="Поиск по сайту")
										button(type="submit")
							nav.top-line__center__nav
								ul
									li
										a(href="#") Главная
									li
										a(href="#") О компании
									li
										a(href="#") Объекты
									li
										a(href="#") Информация
									li
										a(href="#") Контакты

					.col-3.top-line__call
						a(href="#") Звонок с сайта

					.col-1

	//		ul.nav
	//			.row
	//				.col-5
	//					li.logo
	//						a(href='#')
	//							img(src='static/img/logo.png')
	//							span.logo-text Эксперт в сжигании биомассы
	//				.col-3
	//					li.contacts
	//						p Киев: 095 686 89 67
	//						p Харьков:  095 686 89 67
	//				.col-3
	//					li.search
	//						input(type='text', placeholder='Поиск по сайту')
	//				.col-3
	//					li.change-language
	//						select
	//							option RU
	//							option EN
	//		section.slider
	//			#slider.flexslider
	//				ul.slides
	//					li.slide-li
	//						ul.info-enclosed
	//							li.text-li
	//								ul.enclosed-ul
	//									li
	//										p Технико-экономические расчеты
	//									li
	//										p Проектирование
	//									li
	//										p Авторский надзор
	//									li
	//										p Технический надзор
	//							li.image-li
	//								.image-slider.first-slide
	//						p.sub-title Виды услуг
	//						h1 Заголовок Главная
	//						a.read-more-button Подробнее
	//					li.slide-li.slide-1
	//						ul.info-enclosed
	//							li.text-li
	//								ul.enclosed-ul
	//									li
	//										p Технико-экономические расчеты
	//									li
	//										p Проектирование
	//									li
	//										p Авторский надзор
	//									li
	//										p Технический надзор
	//							li.image-li
	//								.image-slider.first-slide
	//						p.sub-title Текст(О компании)г
	//						h1 Заголовок О компании
	//						a.read-more-button Подробнее
	//					li.slide-li.slide-2
	//						ul.info-enclosed
	//							li.text-li
	//								ul.enclosed-ul
	//									li
	//										p Технико-экономические расчеты
	//									li
	//										p Проектирование
	//									li
	//										p Авторский надзор
	//									li
	//										p Технический надзор
	//							li.image-li
	//								.image-slider.first-slide
	//						p.sub-title Текст (Обьекты)г
	//						h1 Заголовок Обьекты
	//						a.read-more-button Подробнее
	//					li.slide-li.slide-3
	//						ul.info-enclosed
	//							li.text-li
	//								ul.enclosed-ul
	//									li
	//										p расчеты
	//									li
	//										p Проектирование
	//									li
	//										p Авторский надзор
	//									li
	//										p Технический надзор
	//							li.image-li
	//								.image-slider.first-slide
	//						p.sub-title Текст (Информация)
	//						h1 Заголовок Информация
	//						a.read-more-button Подробнее
	//					li.slide-li.slide-4
	//						ul.info-enclosed
	//							li.text-li
	//								ul.enclosed-ul
	//									li
	//										p Технико-экономические расчеты
	//									li
	//										p Проектирование
	//									li
	//										p Авторский надзор
	//									li
	//										p Технический надзор
	//							li.image-li
	//								.image-slider.first-slide
	//						p.sub-title Текст (Контакты)
	//						h1 Заголовок Контакты
	//						a.read-more-button Подробнее
	//			.flexslider-controls
	//				ol.flex-control-nav
	//					li
	//						p
	//							| 01
	//							span    Главная
	//					li
	//						p
	//							| 02
	//							span    О компании
	//					li
	//						p
	//							| 03
	//							span    Обьекты
	//					li
	//						p
	//							| 04
	//							span    Информация
	//					li
	//						p
	//							| 05
	//							span    Контакты
	//section.section-1
	//	.container-content
	//		.top
	//			.text-box
	//				h2 Добро пожаловать
	//				p
	//					| Инженерный центр «ЭкоЭнергоПроект»
	//					| осуществляет деятельность в сфере инновационных инженерных решений в
	//					| области сжигания твердого топлива для бытовых и производственных нужд:
	//				ul
	//					li
	//						| энергоаудит, составление технико-экономических расчетов и обоснований на основе анализа
	//					li специфики региона и по­тенциалов местных видов топлива;
	//			.image-block
	//				img(src='static/img/section-1.png')
	//		.bottom
	//			.text-box
	//				ul
	//					li проектирование и согласование, оформление топочных и ко­тельных;
	//					li
	//						| проектирование и строительство складов твердого топлива, механизмов топливоподачи;
	//					li поставка оборудования, монтаж, пусконаладочные работы и ввод в эксплуатацию;
	//					li строительство топочных и котельных;
	//					li комплексные системы автоматического управления (АСУ) для котельных;
	//					li гарантийное сервисное обслуживание эксплуатируемых объектов.
	//			.image-block
	//				img(src='static/img/section-1(2).png')
	//section.section-2
	//	.content-container
	//		h2 Основная специализация
	//		.box-images
	//			.box
	//				.cont
	//					p
	//						| Твердотопливные
	//						| теплогенераторы
	//					p
	//						| Теплогенераторы горячего воздуха на биомассе
	//						| (пеллетах, дровах, угле, соломе, торфе и пр.)
	//						| для организации отопления, складских, производственных
	//						| , и прочих помещений.
	//					a(href='#') Подробнее
	//				img(src='static/img/section-2(1).png')
	//			.box
	//				.cont
	//					p
	//						| Твердотопливные
	//						| теплогенераторы
	//					p
	//						| Теплогенераторы горячего воздуха на биомассе
	//						| (пеллетах, дровах, угле, соломе, торфе и пр.)
	//						| для организации отопления, складских, производственных
	//						| , и прочих помещений.
	//					a(href='#') Подробнее
	//				img(src='static/img/section-2)2).png')
	//			.box
	//				.cont
	//					p
	//						| Твердотопливные
	//						| теплогенераторы
	//					p
	//						| Теплогенераторы горячего воздуха на биомассе
	//						| (пеллетах, дровах, угле, соломе, торфе и пр.)
	//						| для организации отопления, складских, производственных
	//						| , и прочих помещений.
	//					a(href='#') Подробнее
	//				img(src='static/img/section-2(1).png')
	//			.box
	//				.cont
	//					p
	//						| Твердотопливные
	//						| теплогенераторы
	//					p
	//						| Теплогенераторы горячего воздуха на биомассе
	//						| (пеллетах, дровах, угле, соломе, торфе и пр.)
	//						| для организации отопления, складских, производственных
	//						| , и прочих помещений.
	//					a(href='#') Подробнее
	//				img(src='static/img/section-2)2).png')
	//			.box
	//				.cont
	//					p
	//						| Твердотопливные
	//						| теплогенераторы
	//					p
	//						| Теплогенераторы горячего воздуха на биомассе
	//						| (пеллетах, дровах, угле, соломе, торфе и пр.)
	//						| для организации отопления, складских, производственных
	//						| , и прочих помещений.
	//					a(href='#') Подробнее
	//				img(src='static/img/section-2(1).png')
	//section.section-pass-0
	//section.section-pass
	//	.content
	//		h2 Недавно Реализованные проекты
	//section.section-pass-2
	//	.content
	//		p Проекты за последний год
	//section.section-3
	//	.content-box
	//		.box
	//			img(src='static/img/section-3(1).png')
	//			p
	//				| Паровая котельная.
	//				| Завод по производству
	//				| биоэтанола
	//			ul
	//				li
	//					| Разработка концепции эскиза
	//					| Разработка рабочего проекта.
	//				li Авторский надзор. Согласование проекта
	//			a(href='#') Подробнее
	//		.box
	//			img(src='static/img/section-3(2).png')
	//			p
	//				| Паровая котельная.
	//				| Завод по производству
	//				| биоэтанола
	//			ul
	//				li
	//					| Разработка концепции эскиза
	//					| Разработка рабочего проекта.
	//				li Авторский надзор. Согласование проекта
	//			a(href='#') Подробнее
	//		.box
	//			img(src='static/img/section-3(1).png')
	//			p
	//				| Паровая котельная.
	//				| Завод по производству
	//				| биоэтанола
	//			ul
	//				li
	//					| Разработка концепции эскиза
	//					| Разработка рабочего проекта.
	//				li Авторский надзор. Согласование проекта
	//			a(href='#') Подробнее
	//section.section-pass.now-work
	//	.content
	//		h2.now-work-p2
	//			| СЕЙЧАС
	//			| В РАБОТЕ
	//section.section-pass-2.run-soon
	//	.content
	//		p
	//			| Запустим в ближайшем будущем
	//section.section-3.section-4
	//	.content-box
	//		.box
	//			img(src='static/img/section-4(1).png')
	//			p
	//				| Паровая котельная.
	//				| Завод по производству
	//				| биоэтанола
	//			ul
	//				li
	//					| Разработка концепции эскиза
	//					| Разработка рабочего проекта.
	//				li Авторский надзор. Согласование проекта
	//			a(href='#') Подробнее
	//		.box
	//			img(src='static/img/section-4(2).png')
	//			p
	//				| Паровая котельная.
	//				| Завод по производству
	//				| биоэтанола
	//			ul
	//				li
	//					| Разработка концепции эскиза
	//					| Разработка рабочего проекта.
	//				li Авторский надзор. Согласование проекта
	//			a(href='#') Подробнее
	//		.box
	//			img(src='static/img/section-4(3).png')
	//			p
	//				| Паровая котельная.
	//				| Завод по производству
	//				| биоэтанола
	//			ul
	//				li
	//					| Разработка концепции эскиза
	//					| Разработка рабочего проекта.
	//				li Авторский надзор. Согласование проекта
	//			a(href='#') Подробнее
