extends ../layout/main

block title
	| Главная страница

block content
	section.welcome
		.container
			.row
				.block-left
					.block-left__wrap
						.dots-bg-wrap
						img(src="static/img/section-welcome/img.png" alt="Section img")
				.block-right
					h1
						| Добро
						br
						| Пожаловать
					p
						| Инженерный центр «ЭкоЭнергоПроект»
						br
						| осуществляет деятельность в сфере инновационных
						br
						| инженерных решений в области сжигания твердого
						br
						| топлива для бытовых и производственных нужд:
					ul
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| энергоаудит, составление технико-экономических расчетов и обоснований на основе анализа
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| специфики региона и по­тенциалов местных видов топлива;
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| проектирование и согласование, оформление топочных и ко­тельных;
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| проектирование и строительство складов твердого топлива, механизмов топливоподачи;
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| поставка оборудования, монтаж, пусконаладочные работы и ввод в эксплуатацию;
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| строительство топочных и котельных;
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| комплексные системы автоматического управления (АСУ) для котельных;
						li
							img(src='static/img/section-welcome/list-dot.png' width='9' height='9' alt="Bullet img")
							| гарантийное сервисное обслуживание эксплуатируемых объектов.

	section.section-2
		.border
		.container
			h2 Основная специализация
			.box-images
				.box
					.cont
						p.cont-title
							| Твердотопливные
							| теплогенераторы
						p
							| Теплогенераторы горячего воздуха на биомассе
							| (пеллетах, дровах, угле, соломе, торфе и пр.)
							| для организации отопления, складских, производственных
							| , и прочих помещений.
						a(href='#') Подробнее
					img(src='static/img/section-2(1).png')
				.box
					.cont
						p.cont-title
							| Твердотопливные
							| теплогенераторы
						p
							| Теплогенераторы горячего воздуха на биомассе
							| (пеллетах, дровах, угле, соломе, торфе и пр.)
							| для организации отопления, складских, производственных
							| , и прочих помещений.
						a(href='#') Подробнее
					img(src='static/img/section-2)2).png')
				.box
					.cont
						p.cont-title
							| Твердотопливные
							| теплогенераторы
						p
							| Теплогенераторы горячего воздуха на биомассе
							| (пеллетах, дровах, угле, соломе, торфе и пр.)
							| для организации отопления, складских, производственных
							| , и прочих помещений.
						a(href='#') Подробнее
					img(src='static/img/section-2(1).png')
				.box
					.cont
						p.cont-title
							| Твердотопливные
							| теплогенераторы
						p
							| Теплогенераторы горячего воздуха на биомассе
							| (пеллетах, дровах, угле, соломе, торфе и пр.)
							| для организации отопления, складских, производственных
							| , и прочих помещений.
						a(href='#') Подробнее
					img(src='static/img/section-2)2).png')
				.box
					.cont
						p.cont-title
							| Твердотопливные
							| теплогенераторы
						p
							| Теплогенераторы горячего воздуха на биомассе
							| (пеллетах, дровах, угле, соломе, торфе и пр.)
							| для организации отопления, складских, производственных
							| , и прочих помещений.
						a(href='#') Подробнее
					img(src='static/img/section-2(1).png')
	section.section-pass
		.content
			h2 Недавно Реализованные проекты
	section.section-pass-2
		.content
			p Проекты за последний год
	section.section-3
		.border
		.content-box
			.box
				.img-block
					img(src='static/img/section-3(1).png')
				p
					| Паровая котельная.
					| Завод по производству
					| биоэтанола
				ul
					li
						| Разработка концепции эскиза
						| Разработка рабочего проекта.
					li Авторский надзор. Согласование проекта
				a(href='#') Подробнее
			.box
				.img-block
					img(src='static/img/section-3(2).png')
				p
					| Паровая котельная.
					| Завод по производству
					| биоэтанола
				ul
					li
						| Разработка концепции эскиза
						| Разработка рабочего проекта.
					li Авторский надзор. Согласование проекта
				a(href='#') Подробнее
			.box
				.img-block
					img(src='static/img/section-3(1).png')
				p
					| Паровая котельная.
					| Завод по производству
					| биоэтанола
				ul
					li
						| Разработка концепции эскиза
						| Разработка рабочего проекта.
					li Авторский надзор. Согласование проекта
				a(href='#') Подробнее
	section.section-pass-3
		.content
			h2
				| СЕЙЧАС
				| В РАБОТЕ
	section.section-pass-4
		.content
			p
				| Запустим в ближайшем будущем
	section.section-4
		.border
		.border-2
		.content-box
			.box
				.img-block
					img(src='static/img/section-3(1).png')
				p
					| Паровая котельная.
					| Завод по производству
					| биоэтанола
				ul
					li
						| Разработка концепции эскиза
						| Разработка рабочего проекта.
					li Авторский надзор. Согласование проекта
				a(href='#') Подробнее
			.box
				.img-block
					img(src='static/img/section-3(2).png')
				p
					| Паровая котельная.
					| Завод по производству
					| биоэтанола
				ul
					li
						| Разработка концепции эскиза
						| Разработка рабочего проекта.
					li Авторский надзор. Согласование проекта
				a(href='#') Подробнее
			.box
				.img-block
					img(src='static/img/section-3(1).png')
				p
					| Паровая котельная.
					| Завод по производству
					| биоэтанола
				ul
					li
						| Разработка концепции эскиза
						| Разработка рабочего проекта.
					li Авторский надзор. Согласование проекта
				a(href='#') Подробнее
	section.section-5
		.container-content
			.block-articles
				h2 Статьи
				.block-articles__items
					.block-articles__items__box
						.image-block
							a(href='#')
								img(src='static/img/article-img-1.jpg' alt='Article image')
						.content-block
							.text-part
								h3 Что вы получаете в результате энергоаудита?
								p
									| проектирование и согласование
									| проектирование и согласование
							.links-part
								a(class='links-part__more' href='#') Подробнее
								.links-part__soc
									a(class='links-part__soc__icon links-part__soc__icon--fb' href='#')
										img(src='static/img/icons/fb.svg' width='20' height='20' alt='FB icon')
										| Facebook
									a(class='links-part__soc__icon links-part__soc__icon--ok' href='#')
										img(src='static/img/icons/ok.svg' width='20' height='20' alt='OK icon')
										| OK
									a(class='links-part__soc__icon links-part__soc__icon--vk' href='#')
										img(src='static/img/icons/vk.svg' width='20' height='20' alt='VK icon')
										| VK
					.block-articles__items__box
						.image-block
							a(href='#')
								img(src='static/img/article-img-1.jpg' alt='Article image')
						.content-block
							.text-part
								h3 Что вы получаете в результате энергоаудита?
								p
									| проектирование и согласование
									| проектирование и согласование
							.links-part
								a(class='links-part__more' href='#') Подробнее
								.links-part__soc
									a(class='links-part__soc__icon links-part__soc__icon--fb' href='#')
										img(src='static/img/icons/fb.svg' width='20' height='20' alt='FB icon')
										| Facebook
									a(class='links-part__soc__icon links-part__soc__icon--ok' href='#')
										img(src='static/img/icons/ok.svg' width='20' height='20' alt='OK icon')
										| OK
									a(class='links-part__soc__icon links-part__soc__icon--vk' href='#')
										img(src='static/img/icons/vk.svg' width='20' height='20' alt='VK icon')
					.block-articles__items__box
						.image-block
							a(href='#')
								img(src='static/img/article-img-1.jpg' alt='Article image')
						.content-block
							.text-part
								h3 Что вы получаете в результате энергоаудита?
								p
									| проектирование и согласование
									| проектирование и согласование
							.links-part
								a(class='links-part__more' href='#') Подробнее
								.links-part__soc
									a(class='links-part__soc__icon links-part__soc__icon--fb' href='#')
										img(src='static/img/icons/fb.svg' width='20' height='20' alt='FB icon')
										| Facebook
									a(class='links-part__soc__icon links-part__soc__icon--ok' href='#')
										img(src='static/img/icons/ok.svg' width='20' height='20' alt='OK icon')
										| OK
									a(class='links-part__soc__icon links-part__soc__icon--vk' href='#')
										img(src='static/img/icons/vk.svg' width='20' height='20' alt='VK icon')
				a(class="block-articles__more") Все статьи

			.block-news
				h2 Новости
				p Последние новости
				.image-block
					img(src='static/img/fb-community.jpg' alt='Facebook image')

