footer
	max-width: 1920px
	margin: auto
	background: black
	padding-top: 45px
	padding-bottom: 50px
	.footer-content
		max-width: 1030px
		margin: auto
		color: white
		img
			margin-bottom: 12px
		ul
			width: 100%
			list-style-type: none
			border-top: 1px solid white
			padding: 0
			li
				display: inline-block
				font-size: 14px
				font-family: 'Roboto', sans-serif
				font-weight: 300
				line-height: 24px
				padding-left: 49px
				&:first-child
					padding-left: 0
				&:last-child
					position: relative
					top: 16px
